:root {
    --cor-fundo: #0D1117;
    --cor-texto-primario:#F0F6FC;
    --cor-texto-secundario:#8B949E;
    --amarelo-logo:#FEBF2C;
}


::selection {
    color:#FFFFFF;
    background-color: #f8ae00;
}


@media only screen and (max-width: 780px) {


  }