:root {
    --cor-fundo: #0D1117;
    --cor-texto-primario: #F0F6FC;
    --cor-texto-secundario: #CCCCCC;
    --amarelo-logo: #FEBF2C;
    --altura-header: 60px;
    --altura-footer: 0px;
    --largura-coluna-esquerda: 100px;
    --largura-coluna-direita: 340px;
    --cor-fundo-header: #3c3c3c;
    --cor-fundo-footer: #2d2d2d;
    --cor-fundo-coluna-esquerda: #252526;
    --cor-fundo-coluna-direita: #252526;
}


::selection {
    color: #FFFFFF;
    background-color: #f8ae00;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    overflow: hidden;
    color: var(--cor-texto-primario);
    background-color: var(--cor-fundo-header);
    font-family: Verdana;
}

header {
    z-index: 100;
    background-color: var(--cor-fundo-header);
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--altura-header);
    font-size: 15pt;

}

div.header-right {
    font-size: 12pt;
    position: absolute;
    right: 2%;
    top: 33%;
    margin: auto;
}

div.header-left {
    position: absolute;
    left: 0.5%;
    top: 25%;
    margin: auto;
}

footer {
    visibility: hidden;
    height: var(--altura-footer);
}

div#canvas {
    position: fixed;
    top: var(--altura-header);
    left: var(--largura-coluna-esquerda);
    width: calc(100% - var(--largura-coluna-esquerda) - var(--largura-coluna-direita));
    height: calc(100% - var(--altura-header) - var(--altura-footer));
}

div#left {
    position: fixed;
    top: var(--altura-header);
    width: var(--largura-coluna-esquerda);
    left: 0;
    height: calc(100% - var(--altura-header) - var(--altura-footer));
    background-color: var(--cor-fundo-coluna-esquerda);
    text-align: center;
}

div#right {
    position: absolute;
    top: var(--altura-header);
    right: 0px;
    width: var(--largura-coluna-direita);
    min-height: calc(100% - var(--altura-header) - var(--altura-footer) - 40px);
    background-color: var(--cor-fundo-coluna-direita);
    text-align: center;
    padding:10px;
}

a.link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

a.link:hover {
    color: var(--amarelo-logo);
    text-decoration: none;

}

input.barra_direita{
    margin-top: 20px;
    color:#252526;
}
input.barra_direita:hover{
    margin-top: 20px;
    background-color: #f8ae00;
    color:#252526;
}

div.dados_grupos{
    align-content: left;
    padding: 2px;
    background-color: #1E1E1E;
    border-radius: 5px;
    width: calc( var(--largura-coluna-direita) - 10px);
}

p.nome_grupo{
    margin:0px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 10pt;
    color:var(--cor-texto-secundario);

}
p.item_grupo{
    margin: 10px;
    text-align: left;
    font-size: 9pt;
    color:var(--cor-texto-secundario);
}

div.dados_grupo{
    align-content: left;
    margin:10px;
    border-style:outset;
    border-width:2px;
    border-color: #4d4d4d;
    border-radius: 4px;
}


input.adiciona_partes{
    width:auto;
    font-size: 9pt;
    font-weight: bold;
    margin:5px;
    color:#FFFFFF;
    background-color: #2e2e2e;
}
p.adicionar{
    width:auto;
    font-size: 9pt;
    font-weight: bold;
    color:#FFFFFF;
}

@media only screen and (max-width: 780px) {}